$backgroundColor: #add8e6;
$textColor: rgb(26, 26, 26);
$headingColor: rgb(0, 0, 0);
$fontSize: 18px;
$headingSize: 24px;
$marginSize: 20px;

.weather {
  background-image: url("../../img/mountain.jpg");
  background-size: cover;
  border-radius: 10px;
  padding: $marginSize;
  margin: $marginSize;
  width: 400px;
  p {
    color: white;
  }

  .time {
    text-align: center;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      text-align: center;

      h2 {
        color: white;
        font-size: $headingSize; // Uncomment this line
      }

      p {
        color: white;
        font-size: $fontSize;
      }
    }

    .right {
      text-align: center;
      color: white;
      font-size: $fontSize;
    }
  }

  img {
    align-self: center;
  }
}
