$backgroundColor: #add8e6;
$textColor: rgb(26, 26, 26);
$headingColor: rgb(0, 0, 0);
$fontSize: 18px;
$headingSize: 24px;
$marginSize: 20px;

.weather {
  background-image: url("../../img/mountain.jpg");
  background-size: cover;
  border-radius: 10px;
  padding: $marginSize;
  margin: $marginSize;
  width: 450px;

  p {
    color: white;
  }

  .weather-button {
    background-color: #4caf50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;

    &:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  }

  .time {
    text-align: center;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      text-align: center;

      h2 {
        color: white;
        font-size: $headingSize; // Uncomment this line
      }

      p {
        color: white;
        font-size: $fontSize;
      }
    }

    .right {
      text-align: center;
      color: white;
      font-size: $fontSize;
    }
  }

  img {
    align-self: center;
  }

  @media (max-width: 480px) {
    width: 90%;
    padding: $marginSize / 2;
    margin: $marginSize / 3;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    width: 90%;
    padding: $marginSize;
    margin: $marginSize;
  }
}
