.search-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .search-form {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    padding: 5px;
    border-radius: 50px;
  }

  .search-input {
    background-color: #1e1e1e;
    border: none;
    color: #ffffff;
    padding: 8px 15px 10px 15px;
    font-size: 15px;
    border-radius: 50px;
    outline: none;
    flex-grow: 1;
  }

  .search-input::placeholder {
    color: #ffffff;
  }

  .search-button {
    background-color: #1e1e1e;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }

  .search-button:hover {
    background-color: #333;
  }

  .search-icon {
    width: 20px;
    height: 20px;
    color: #ffffff;
  }
  &.light {
    .search-form,
    .search-input,
    .search-button {
      background-color: grey;
      color: #000000;
    }

    .search-input::placeholder {
      color: #000000; /* Установите цвет плейсхолдера для светлой темы здесь */
    }

    .search-button .search-icon {
      color: #000000; /* Установите цвет иконки для светлой темы здесь */
    }
  }
  &.dark {
    .search-form,
    .search-input,
    .search-button {
      background-color: #1e1e1e;
      color: #ffffff; /* Изменение цвета текста на белый */
    }

    .search-button .search-icon {
      color: #ffffff; /* Установите цвет иконки для темной темы здесь */
    }
  }
}
