.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;

  &.dark {
    background-image: url("./img/darkjpg.jpg");
  }

  &.light {
    background-image: url("./img/Day.jpg");
  }

  @media (max-width: 1024px) {
    justify-content: flex-start;
    padding-top: 70px;
  }

  @media (max-width: 767px) {
    padding-top: 20px;
  }

  @media (max-width: 600px) {
    padding-top: 20px;
  }

  @media (max-width: 480px) {
    padding-top: 20px;
  }
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
